<!--
Generated template for the Login page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>login</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block (click)="saveUsername()">Login</button>
    <a href="http://retroachievements.org/" ion-button block clear>Register</a>
    <p class="info">You're not really logging in, all your Retro Achievements information is public so I just need your user name</p>
</ion-content>
