<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Games</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- filter card -->
    <ion-card>
        <ion-list>
            <ion-item>
                <ion-label>Search</ion-label>
                <ion-input [(ngModel)]="searchTitle" [formControl]="searchControl"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Console</ion-label>
                <ion-select [(ngModel)]="consoleSelected" multiple="false" (ngModelChange)="getGamesForConsole(consoleSelected)">
                    <ion-option *ngFor="let console of consoles" value="{{ console.ID }}">{{ console.Name }}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </ion-card>
    <!-- /filter card -->
    <!-- results -->
    <ion-list>
        <ion-list-header>
            Games {{ filteredGames.length }}
        </ion-list-header>
        <button ion-item *ngFor="let game of filteredGames" (click)="openGame(game.ID)">
            <ion-avatar item-left>
                <img style="max-height: 65px" src="http://i.retroachievements.org{{ game.ImageIcon }}"/>
            </ion-avatar>
            {{ game.Title }}
        </button>
    </ion-list>
    <!-- /results card-->
</ion-content>
