<ion-content>
    <ion-card>
        <ion-card-header>
            Logout
        </ion-card-header>
        <ion-card-content>
            <button ion-button (click)="signout()">Logout</button>
        </ion-card-content>
    </ion-card>
</ion-content>
