<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ userName }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <!-- user view -->
    <ion-card>
        <ion-item>
            <ion-avatar item-left>
                <img style="max-height: 65px" src="http://retroachievements.org/{{ userSummary?.UserPic }}"/>
            </ion-avatar>
            <h2>#{{ userSummary?.Rank }} {{ userName }}</h2>
            <p *ngIf="!userFound" class="warning">User Not Found<p>
            <p>{{ userSummary?.Motto }}</p>
            <p>{{ userSummary?.Status }}</p>
        </ion-item>
        <ion-card-content>
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-item>
            <h2>Points</h2>
            <p>{{ userSummary?.Points }}</p>
        </ion-item>
        <ion-item>
            <h2>Last Logged In</h2>
            <p>{{ userSummary?.LastLogin }}</p>
        </ion-item>
        <ion-item>
            <h2>Member Since</h2>
            <p>{{ userSummary?.MemberSince }}</p>
        </ion-item>
    </ion-list>
    <!-- /user view -->
</ion-content>
