<ion-tabs>
    <ion-tab tabIcon="person" tabTitle="User" [root]="userOverview" [rootParams]="navParams"></ion-tab>
    <ion-tab tabIcon="game-controller-a" tabTitle="Games" [root]="userGames" [rootParams]="navParams"></ion-tab>
    <ion-tab tabIcon="trophy" tabTitle="Feed" [root]="userFeed" [rootParams]="navParams"></ion-tab>
</ion-tabs>
