<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Games</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div>
        <!-- recently Played -->
        <ion-list>
            <ion-list-header>
                Recently Played
            </ion-list-header>
            <button ion-item *ngFor="let game of recentlyPlayed" (click)="viewGame(game.GameID)">
                <ion-avatar item-left>
                    <img src="http://i.retroachievements.org{{ game.ImageIcon }}"/>
                </ion-avatar>
                <h2>{{ game.Title }}</h2>
                <p>Awarded {{ getAwardedForGame(game.GameID).NumAchieved }} of {{ getAwardedForGame(game.GameID).NumPossibleAchievements }}</p>
                <p>Hardcore {{ getAwardedForGame(game.GameID).NumAchievedHardcore }} of {{ getAwardedForGame(game.GameID).NumPossibleAchievements }}</p>
                <p>Score {{ getAwardedForGame(game.GameID).ScoreAchieved }} of {{ getAwardedForGame(game.GameID).PossibleScore }}</p>
            </button>
        </ion-list>
        <!-- /recently played -->
    </div>
</ion-content>
