<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Feed</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <!-- all Played -->
    <ion-list>
        <button ion-item *ngFor="let game of awardedArray" (click)="viewGame(game.GameID)">
            <ion-avatar item-left *ngIf="!game.AchBadge">
                <img src="http://i.retroachievements.org{{ game.GameIcon }}"/>
            </ion-avatar>
            <ion-avatar item-left *ngIf="game.AchBadge">
                <img src="http://i.retroachievements.org/Badge/{{ game.AchBadge }}.png"/>
            </ion-avatar>
            <h2>{{ game.GameTitle }}</h2>
            <p *ngIf="game.AchDesc"><ion-icon name="trophy"></ion-icon> {{ game?.AchDesc }}</p>
        </button>
        <ion-infinite-scroll (ionInfinite)="getPageFeed($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
    <!-- /all played -->
</ion-content>
