<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ gameInfoExtended?.Title }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- general information -->
    <ion-card *ngIf="gameInfoExtended">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img *ngIf="gameInfoExtended" class="titleImage" src="http://www.retroachievements.org/{{ gameInfoExtended.ImageBoxArt }}"/>
                </ion-col>
                <ion-col>
                    <ion-card-content>
                        <ion-card-title>
                            {{ gameInfoExtended.Title }}
                        </ion-card-title>
                        <ion-list>
                            <ion-item>
                                <h3>Released</h3>
                                <p>{{ gameInfoExtended.Released }}</p>
                            </ion-item>
                            <ion-item>
                                <h3>Developer</h3>
                                <p>{{ gameInfoExtended.Developer }}</p>
                            </ion-item>
                            <ion-item>
                                <h3>Publisher</h3>
                                <p>{{ gameInfoExtended.Publisher }}</p>
                            </ion-item>
                            <button ion-item (click)="showGamesForConsole(gameInfoExtended.ConsoleID)">
                                <h3>Console</h3>
                                <p>{{ gameInfoExtended.ConsoleName }}</p>
                            </button>
                            <ion-item>
                                <h3>Genre</h3>
                                <p>{{ gameInfoExtended.Genre }}</p>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <!-- /general information -->
    <!-- progresss card -->
    <ion-card *ngIf="gameInfoAndUserProgress?.Achievements">
        <ion-card-content>
            <ion-card-title>
                Progress
            </ion-card-title>
            <ion-list>
                <ion-item>
                    <h3>Score</h3>
                    <p>{{ userProgress?.ScoreAchieved }} of {{ userProgress?.PossibleScore }}</p>
                    <p>{{ userProgress?.ScoreAchievedHardcore }} Hardcore</p>
                </ion-item>
                <ion-item>
                    <h3>Achievements</h3>
                    <p>{{ userProgress?.NumAchieved }} of {{ userProgress?.NumPossibleAchievements }}</p>
                    <p>{{ userProgress?.NumAchievedHardcore }} Hardcore</p>
                </ion-item>
                <ion-item>
                    <h3>Completed</h3>
                    <p>{{ gameInfoAndUserProgress?.UserCompletion }}</p>
                    <p>{{ gameInfoAndUserProgress?.UserCompletionHardcore }} Hardcore</p>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <!-- /progresss card -->
    <!-- achievements -->
    <ion-card *ngIf="gameInfoAndUserProgress?.Achievements">
        <ion-card-content>
            <ion-card-title>
                Achievements ({{ gameInfoExtended?.NumAchievements }})
            </ion-card-title>
            <ion-list>
                <ion-item *ngFor="let ach of achievements" ng-click="showBadgeModal(ach[1])">
                    <ion-avatar class="ion-avatar__no-border-radius" item-left>
                        <img *ngIf="ach[1].DateEarned" src="http://i.retroachievements.org/Badge/{{ ach[1].BadgeName }}.png">
                        <img *ngIf="!ach[1].DateEarned" src="http://i.retroachievements.org/Badge/{{ ach[1].BadgeName }}_lock.png">
                    </ion-avatar>
                    <h3>{{ ach[1].Title }}</h3>
                    <p>{{ ach[1].Description }}</p>
                    <p *ngIf="ach[1].DateEarned">Complete {{ ach[1].DateEarned }}</p>
                    <p *ngIf="ach[1].DateEarnedHarcore">Complete Hardcore {{ ach[1].DateEarnedHarcore }}</p>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <!-- /achievements -->
</ion-content>
