<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Users</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <!-- jump -->
            <ion-card>
                <ion-card-content>
                    <div class="search-bar">
                        <div class="search-bar--input">
                            <ion-input type="text" placeholder="Jump To User" [(ngModel)]="jumpToUser"></ion-input>
                        </div>
                        <div class="search-bar--button">
                            <button ion-button (click)="openUserPage(jumpToUser)">Search</button>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
            <!-- /jump -->
            <!-- top ten -->
            <ion-card>
                <ion-card-header>
                    Top 10 Users
                </ion-card-header>
                <ion-card-content>
                    <button ion-item *ngFor="let user of topTenUsers" (click)="openUserPage(user[1])">
                        <ion-avatar item-left>
                            <img style="max-height: 65px" src="http://retroachievements.org/UserPic/{{ user[1] }}.png"/>
                        </ion-avatar>
                        <h2>{{ user[1] }}</h2>
                        <p>{{ user[2] }} Points</p>
                        <p>{{ user[3] }} Achievements</p>
                    </button>
                </ion-card-content>
            </ion-card>
            <!-- /top ten -->
        </ion-row>
    </ion-grid>
</ion-content>
