page-users {
    .search-bar {
        display: flex;
        flex-direction: row;
        .search-bar--input {
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
        .search-bar--button {

        }
    }
}
